7-dars

In [18]:
import pandas as pd 
import numpy as nd 
import seaborn as sns 
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression 
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.metrics import r2_score,mean_squared_error

In [19]:
df=pd.read_csv('taxi_trip_pricing.csv')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Trip_Distance_km       950 non-null    float64
 1   Time_of_Day            950 non-null    object
 2   Day_of_Week            950 non-null    object
 3   Passenger_Count        950 non-null    float64
 4   Traffic_Conditions     950 non-null    object
 5   Weather                950 non-null    object
 6   Base_Fare              950 non-null    float64
 7   Per_Km_Rate            950 non-null    float64
 8   Per_Minute_Rate        950 non-null    float64
 9   Trip_Duration_Minutes  950 non-null    float64
 10  Trip_Price             951 non-null    float64
dtypes: float64(7), object(4)
memory usage: 86.1+ KB

In [21]:
df.isnull().sum()

Trip_Distance_km         50
Time_of_Day              50
Day_of_Week              50
Passenger_Count          50
Traffic_Conditions       50
Weather                  50
Base_Fare                50
Per_Km_Rate              50
Per_Minute_Rate          50
Trip_Duration_Minutes    50
Trip_Price               49
dtype: int64

In [22]:
for col in df.columns:
    if df[col].dtype =='object':
        df[col].fillna(df[col].mode()[0],inplace=True)
    else:
        df[col].fillna(df[col].mean(), inplace=True)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Trip_Distance_km       1000 non-null   float64
 1   Time_of_Day            1000 non-null   object
 2   Day_of_Week            1000 non-null   object
 3   Passenger_Count        1000 non-null   float64
 4   Traffic_Conditions     1000 non-null   object
 5   Weather                1000 non-null   object
 6   Base_Fare              1000 non-null   float64
 7   Per_Km_Rate            1000 non-null   float64
 8   Per_Minute_Rate        1000 non-null   float64
 9   Trip_Duration_Minutes  1000 non-null   float64
 10  Trip_Price             1000 non-null   float64
dtypes: float64(7), object(4)
memory usage: 86.1+ KB

In [24]:
import klib

In [25]:
df=klib.data_cleaning(df)

Shape of cleaned data: (1000, 11) - Remaining NAs: 0


Dropped rows: 0
     of which 0 duplicates. (Rows (first 150 shown): [])

Dropped columns: 0
     of which 0 single valued.     Columns: []
Dropped missing values: 0
Reduced memory by at least: 0.05 MB (-62.5%)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   trip_distance_km       1000 non-null   float32
 1   time_of_day            1000 non-null   category
 2   day_of_week            1000 non-null   category
 3   passenger_count        1000 non-null   float32
 4   traffic_conditions     1000 non-null   category
 5   weather                1000 non-null   category
 6   base_fare              1000 non-null   float32
 7   per_km_rate            1000 non-null   float32
 8   per_minute_rate        1000 non-null   float32
 9   trip_duration_minutes  1000 non-null   float32
 10  trip_price             1000 non-null   float32
dtypes: category(4), float32(7)
memory usage: 32.0 KB

In [27]:
df.nunique()

trip_distance_km         868
time_of_day                4
day_of_week                2
passenger_count            5
traffic_conditions         3
weather                    3
base_fare                291
per_km_rate              151
per_minute_rate           42
trip_duration_minutes    918
trip_price               952
dtype: int64

In [28]:
cat_col=df.select_dtypes(include=['category']).columns

In [29]:
 for col in cat_col:
    cardinality=len(df[col].unique())
    if cardinality>=5:
        le=LabelEncoder()
        df[col]=le.fit_transform(df[col])
    else:
        df=pd.get_dummies(df,columns=[col],dtype=int, drop_first=True)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   trip_distance_km           1000 non-null   float32
 1   passenger_count            1000 non-null   float32
 2   base_fare                  1000 non-null   float32
 3   per_km_rate                1000 non-null   float32
 4   per_minute_rate            1000 non-null   float32
 5   trip_duration_minutes      1000 non-null   float32
 6   trip_price                 1000 non-null   float32
 7   time_of_day_Evening        1000 non-null   int32
 8   time_of_day_Morning        1000 non-null   int32
 9   time_of_day_Night          1000 non-null   int32
 10  day_of_week_Weekend        1000 non-null   int32
 11  traffic_conditions_Low     1000 non-null   int32
 12  traffic_conditions_Medium  1000 non-null   int32
 13  weather_Rain               1000 non-null   int32
 14  weather_Snow               1000 non-null   int32
dtypes: float32(7), int32(8)
memory usage: 58.7 KB

In [32]:
num_col=df.select_dtypes(include=['float32','int32']).columns

In [33]:
num_col

Index(['trip_distance_km', 'passenger_count', 'base_fare', 'per_km_rate',
       'per_minute_rate', 'trip_duration_minutes', 'trip_price',
       'time_of_day_Evening', 'time_of_day_Morning', 'time_of_day_Night',
       'day_of_week_Weekend', 'traffic_conditions_Low',
       'traffic_conditions_Medium', 'weather_Rain', 'weather_Snow'],
      dtype='object')

In [34]:
scaler=StandardScaler()

In [ ]:
df[num_col]=scaler.fit_transform(df[num_col])    #num_col ga olib numerical columnlarni alohida qilganimiz uchun data numpy ga o'tib qolmadi, headers ham birga chiqdi. 
df.head()

,trip_distance_km,passenger_count,base_fare,per_km_rate,per_minute_rate,trip_duration_minutes,trip_price,time_of_day_Evening,time_of_day_Morning,time_of_day_Night,day_of_week_Weekend,traffic_conditions_Low,traffic_conditions_Medium,weather_Rain,weather_Snow
0,-3.981495e-01,0.487214,6.725451e-02,-1.034878,0.240523,-0.264915,-5.225589e-01,-0.504683,1.591719,-0.320212,-0.646869,1.112266,-0.768001,-0.541905,-0.243561
1,1.058191e+00,-1.375375,6.018949e-08,-1.464767,1.217384,-0.687916,4.018263e-08,-0.504683,-0.628252,-0.320212,-0.646869,-0.899065,-0.768001,-0.541905,-0.243561
2,5.053590e-01,-1.375375,-9.472762e-01,-0.055684,-1.269171,-0.793268,-1.006862e-01,1.981441,-0.628252,-0.320212,1.545908,-0.899065,-0.768001,-0.541905,-0.243561
3,1.680904e-01,1.418509,-2.712037e-02,-1.727478,-1.269171,1.746020,-5.173010e-01,1.981441,-0.628252,-0.320212,-0.646869,1.112266,-0.768001,-0.541905,-0.243561
4,1.051246e-08,0.487214,-6.759482e-01,-1.440884,0.240523,-1.260326,-1.045930e+00,1.981441,-0.628252,-0.320212,-0.646869,-0.899065,-0.768001,-0.541905,-0.243561

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   trip_distance_km           1000 non-null   float64
 1   passenger_count            1000 non-null   float64
 2   base_fare                  1000 non-null   float64
 3   per_km_rate                1000 non-null   float64
 4   per_minute_rate            1000 non-null   float64
 5   trip_duration_minutes      1000 non-null   float64
 6   trip_price                 1000 non-null   float64
 7   time_of_day_Evening        1000 non-null   float64
 8   time_of_day_Morning        1000 non-null   float64
 9   time_of_day_Night          1000 non-null   float64
 10  day_of_week_Weekend        1000 non-null   float64
 11  traffic_conditions_Low     1000 non-null   float64
 12  traffic_conditions_Medium  1000 non-null   float64
 13  weather_Rain               1000 non-null   float64
 14  weather_Snow               1000 non-null   float64
dtypes: float64(15)
memory usage: 117.3 KB

In [41]:
x=df.drop(columns=['trip_price'])

In [43]:
x

,trip_distance_km,passenger_count,base_fare,per_km_rate,per_minute_rate,trip_duration_minutes,time_of_day_Evening,time_of_day_Morning,time_of_day_Night,day_of_week_Weekend,traffic_conditions_Low,traffic_conditions_Medium,weather_Rain,weather_Snow
0,-3.981495e-01,0.487214,6.725451e-02,-1.034878e+00,2.405227e-01,-0.264915,-0.504683,1.591719,-0.320212,-0.646869,1.112266,-0.768001,-0.541905,-0.243561
1,1.058191e+00,-1.375375,6.018949e-08,-1.464767e+00,1.217384e+00,-0.687916,-0.504683,-0.628252,-0.320212,-0.646869,-0.899065,-0.768001,-0.541905,-0.243561
2,5.053590e-01,-1.375375,-9.472762e-01,-5.568444e-02,-1.269171e+00,-0.793268,1.981441,-0.628252,-0.320212,1.545908,-0.899065,-0.768001,-0.541905,-0.243561
3,1.680904e-01,1.418509,-2.712037e-02,-1.727478e+00,-1.269171e+00,1.746020,1.981441,-0.628252,-0.320212,-0.646869,1.112266,-0.768001,-0.541905,-0.243561
4,1.051246e-08,0.487214,-6.759482e-01,-1.440884e+00,2.405227e-01,-1.260326,1.981441,-0.628252,-0.320212,-0.646869,-0.899065,-0.768001,-0.541905,-0.243561
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,-1.112911e+00,1.418509,-1.312979e+00,-1.464767e+00,1.750217e+00,-0.119019,-0.504683,-0.628252,-0.320212,1.545908,-0.899065,1.302082,-0.541905,-0.243561
996,9.736158e-01,1.418509,-4.518079e-01,-1.488650e+00,1.363005e-08,-0.005048,-0.504683,-0.628252,3.122929,-0.646869,-0.899065,1.302082,-0.541905,-0.243561
997,-9.989415e-01,0.487214,-1.678682e+00,1.305633e+00,1.363005e-08,-0.253422,-0.504683,1.591719,-0.320212,-0.646869,1.112266,-0.768001,1.845342,-0.243561
998,1.056644e+00,-1.375375,-9.826668e-01,-9.871120e-01,-1.091560e+00,1.686321,-0.504683,1.591719,-0.320212,-0.646869,1.112266,-0.768001,-0.541905,-0.243561
999,-2.176541e-01,0.487214,9.874107e-01,8.327611e-08,-5.587269e-01,-1.035257,-0.504683,1.591719,-0.320212,1.545908,-0.899065,1.302082,-0.541905,-0.243561

In [45]:
y=df['trip_price']

In [46]:
y

0     -5.225589e-01
1      4.018263e-08
2     -1.006862e-01
3     -5.173010e-01
4     -1.045930e+00
           ...
995   -5.696497e-01
996    1.332163e-01
997   -6.021328e-01
998    1.098800e-01
999   -2.897973e-01
Name: trip_price, Length: 1000, dtype: float64

In [47]:
x_train,x_temp,y_train,y_temp=train_test_split(x,y,test_size=0.2,random_state=42)
x_test,x_val,y_test,y_val=train_test_split(x_temp,y_temp,test_size=0.5,random_state=42)

In [49]:
x_train.shape

(800, 14)

In [50]:
y_train.shape

(800,)

In [51]:
x_test.shape

(100, 14)

In [52]:
y_test.shape

(100,)

In [53]:
model=LinearRegression()

In [54]:
model

LinearRegression()

In [56]:
lr=model.fit(x_train,y_train)

In [57]:
lr

LinearRegression()

In [59]:
y_pred=model.predict(x_test)

In [60]:
y_pred

array([ 1.63502821e+00, -1.10313209e+00, -1.04728456e+00, -1.93234978e-01,
        7.95311629e-01,  9.15364606e-02,  4.47802236e-01, -3.37214208e-01,
        2.98787307e-01,  1.25149981e+00, -5.86785357e-01,  4.37311996e-01,
       -1.19148634e+00, -5.31559220e-01,  3.64113810e-01, -3.20397098e-01,
       -1.26211813e+00, -1.14309734e+00, -6.30663517e-01, -5.63322356e-01,
       -1.13340295e-01, -1.40780901e+00,  7.13130592e-01, -1.34192222e+00,
        8.92800934e-01, -5.46444245e-01,  3.51352761e-01, -1.17343288e+00,
       -6.77145167e-02,  5.00148849e-01,  6.51536475e-01, -3.23091462e-01,
       -4.50728688e-01, -8.25263310e-01, -6.23193958e-01,  2.28374422e-01,
        4.07373822e-01, -9.49764626e-04,  1.08727677e-01, -1.15373008e+00,
       -1.15206153e-01, -1.36584264e-02,  1.54646336e-01, -1.79620677e-01,
        1.20582749e-01, -4.69039038e-01, -3.56745710e-02, -7.60863612e-01,
        1.29530386e-01,  7.97893198e-01, -9.62417775e-01, -8.31720391e-01,
       -5.63057457e-01, -6.93163128e-01, -7.97783279e-01, -4.72156414e-02,
       -4.81104069e-01,  9.53383610e-01, -1.04581599e+00, -1.05056436e+00,
       -1.83017596e-01,  5.09003768e-01, -4.95392099e-01, -4.21254722e-01,
       -6.69680572e-02, -6.55430106e-01,  4.20417733e-02,  1.70094343e-01,
       -1.01444426e+00,  1.45832777e-01, -3.46744904e-01, -2.22298982e-01,
       -4.56485105e-01, -4.98751149e-01,  1.85115372e-01, -3.44654446e-02,
       -4.47261599e-02,  3.52189880e-02,  7.08817790e-01,  4.09317999e-01,
        8.07152610e-01,  6.88242283e-01,  8.76531463e-01, -7.77556630e-01,
       -1.33664150e+00,  9.08497445e-01, -5.75844921e-01, -7.59689343e-01,
       -1.16603982e+00,  2.58018162e-01, -4.58295011e-01, -1.84365964e-01,
        5.65044042e-01, -2.38051646e-01, -1.21208346e+00,  1.00040587e+00,
       -1.43378407e+00,  1.47610464e+00,  3.49579015e-01, -1.18094910e+00])

In [61]:
mse=mean_squared_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)

In [66]:
print(f"mse and r2 scores respectively:", mse, 'and', r2)

mse and r2 scores respectively: 0.09185978729784912 and 0.7611727728808464

Report

This dataset is designed to predict taxi trip fares based on various factors such as distance, time of day, traffic conditions, and more. It provides realistic synthetic data for regression tasks, offering a unique opportunity to explore pricing trends in the taxi industry.

after analyzing the data, I started data preprocessing from 'filling missing values' using mode and mean by loop, and then 'encoding' with label and one-hot encoder with the help of loop. Lastly, I used StandardScaler for scaling. 

The next steps were splitting the data and separating predicting value and choosing right model. After splitting the data, I assigned y for taxi_price which is pred value and rest of the data as x. and I chose linearregression model for the project. After validating and testing I got the results. at last I got mse and r2 scores.

2-vazifa tuplni list bn qiyoslab ishlatish