auto clean

In [1]:
import pandas as pd 
import numpy as nd 
import seaborn as sns 
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression 
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.metrics import r2_score,mean_squared_error

In [2]:
df=pd.read_csv('dataset.csv')

In [3]:
df.head()

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_partners,total_busy_partners,total_outstanding_orders
0,1.0,2015-02-06 22:24:17,2015-02-06 23:27:16,df263d996281d984952c07998dc54358,american,1.0,4,3441,4,557,1239,33.0,14.0,21.0
1,2.0,2015-02-10 21:49:25,2015-02-10 22:56:29,f0ade77b43923b38237db569b016ba25,mexican,2.0,1,1900,1,1400,1400,1.0,2.0,2.0
2,3.0,2015-01-22 20:39:28,2015-01-22 21:09:09,f0ade77b43923b38237db569b016ba25,NaN,1.0,1,1900,1,1900,1900,1.0,0.0,0.0
3,3.0,2015-02-03 21:21:45,2015-02-03 22:13:00,f0ade77b43923b38237db569b016ba25,NaN,1.0,6,6900,5,600,1800,1.0,1.0,2.0
4,3.0,2015-02-15 02:40:36,2015-02-15 03:20:26,f0ade77b43923b38237db569b016ba25,NaN,1.0,3,3900,3,1100,1600,6.0,6.0,9.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197428 entries, 0 to 197427
Data columns (total 14 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   market_id                 196441 non-null  float64
 1   created_at                197428 non-null  object
 2   actual_delivery_time      197421 non-null  object
 3   store_id                  197428 non-null  object
 4   store_primary_category    192668 non-null  object
 5   order_protocol            196433 non-null  float64
 6   total_items               197428 non-null  int64
 7   subtotal                  197428 non-null  int64
 8   num_distinct_items        197428 non-null  int64
 9   min_item_price            197428 non-null  int64
 10  max_item_price            197428 non-null  int64
 11  total_onshift_partners    181166 non-null  float64
 12  total_busy_partners       181166 non-null  float64
 13  total_outstanding_orders  181166 non-null  float64
dtypes: float64(5), int64(5), object(4)
memory usage: 21.1+ MB

In [ ]:
# from datacleaner import autoclean

In [ ]:
# df=autoclean(df)

In [5]:
df.isnull().sum()

market_id                     987
created_at                      0
actual_delivery_time            7
store_id                        0
store_primary_category       4760
order_protocol                995
total_items                     0
subtotal                        0
num_distinct_items              0
min_item_price                  0
max_item_price                  0
total_onshift_partners      16262
total_busy_partners         16262
total_outstanding_orders    16262
dtype: int64

In [6]:
for col in df.columns:
    if df[col].dtype=='object':
        df[col].fillna(df[col].mode()[0],inplace=True)
    else:
        df[col].fillna(df[col].mean(),inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197428 entries, 0 to 197427
Data columns (total 14 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   market_id                 197428 non-null  float64
 1   created_at                197428 non-null  object
 2   actual_delivery_time      197428 non-null  object
 3   store_id                  197428 non-null  object
 4   store_primary_category    197428 non-null  object
 5   order_protocol            197428 non-null  float64
 6   total_items               197428 non-null  int64
 7   subtotal                  197428 non-null  int64
 8   num_distinct_items        197428 non-null  int64
 9   min_item_price            197428 non-null  int64
 10  max_item_price            197428 non-null  int64
 11  total_onshift_partners    197428 non-null  float64
 12  total_busy_partners       197428 non-null  float64
 13  total_outstanding_orders  197428 non-null  float64
dtypes: float64(5), int64(5), object(4)
memory usage: 21.1+ MB

In [9]:
cat_col=df.select_dtypes(include=['object']).columns

In [10]:
encoder=LabelEncoder()

In [12]:
df[cat_col]=df[cat_col].apply(encoder.fit_transform)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197428 entries, 0 to 197427
Data columns (total 14 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   market_id                 197428 non-null  float64
 1   created_at                197428 non-null  int64
 2   actual_delivery_time      197428 non-null  int64
 3   store_id                  197428 non-null  int64
 4   store_primary_category    197428 non-null  int64
 5   order_protocol            197428 non-null  float64
 6   total_items               197428 non-null  int64
 7   subtotal                  197428 non-null  int64
 8   num_distinct_items        197428 non-null  int64
 9   min_item_price            197428 non-null  int64
 10  max_item_price            197428 non-null  int64
 11  total_onshift_partners    197428 non-null  float64
 12  total_busy_partners       197428 non-null  float64
 13  total_outstanding_orders  197428 non-null  float64
dtypes: float64(5), int64(9)
memory usage: 21.1 MB

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197428 entries, 0 to 197427
Data columns (total 14 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   market_id                 197428 non-null  float64
 1   created_at                197428 non-null  int32
 2   actual_delivery_time      197428 non-null  int32
 3   store_id                  197428 non-null  int32
 4   store_primary_category    197428 non-null  int32
 5   order_protocol            197428 non-null  float64
 6   total_items               197428 non-null  int64
 7   subtotal                  197428 non-null  int64
 8   num_distinct_items        197428 non-null  int64
 9   min_item_price            197428 non-null  int64
 10  max_item_price            197428 non-null  int64
 11  total_onshift_partners    197428 non-null  float64
 12  total_busy_partners       197428 non-null  float64
 13  total_outstanding_orders  197428 non-null  float64
dtypes: float64(5), int32(4), int64(5)
memory usage: 18.1 MB

In [14]:
x=df.drop(columns='total_outstanding_orders')

In [15]:
y=df['total_outstanding_orders']

In [18]:
x

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_partners,total_busy_partners
0,1.0,100343,99044,5913,4,1.0,4,3441,4,557,1239,33.0,14.0
1,2.0,128855,126957,6346,47,2.0,1,1900,1,1400,1400,1.0,2.0
2,3.0,6684,6456,6346,4,1.0,1,1900,1,1900,1900,1.0,0.0
3,3.0,81675,80553,6346,4,1.0,6,6900,5,600,1800,1.0,1.0
4,3.0,158806,155878,6346,4,1.0,3,3900,3,1100,1600,6.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
197423,1.0,171793,169188,4512,28,4.0,3,1389,3,345,649,17.0,17.0
197424,1.0,141503,139286,4512,28,4.0,6,3010,4,405,825,12.0,11.0
197425,1.0,17991,17669,4512,28,4.0,5,1836,3,300,399,39.0,41.0
197426,1.0,68068,67115,5335,59,1.0,1,1175,1,535,535,7.0,7.0
197427,1.0,114845,113105,5335,59,1.0,4,2605,4,425,750,20.0,20.0

In [16]:
y

0         21.0
1          2.0
2          0.0
3          2.0
4          9.0
          ...
197423    23.0
197424    14.0
197425    40.0
197426    12.0
197427    23.0
Name: total_outstanding_orders, Length: 197428, dtype: float64

In [17]:
x_train,x_temp,y_train,y_temp=train_test_split(x,y,test_size=0.2,random_state=42)
x_test,x_val,y_test,y_val=train_test_split(x_temp,y_temp,test_size=0.5,random_state=42)

In [18]:
model=DecisionTreeRegressor()

In [19]:
dc_model=model.fit(x_train, y_train)

In [20]:
dc_model

DecisionTreeRegressor()

In [21]:
y_pred=dc_model.predict(x_test)
y_pred

array([ 40.,  79., 102., ...,  14.,  99.,  69.])

In [22]:
mse=mean_squared_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)

In [23]:
print(f"mse score", mse)
print(f"r2 score", r2)

mse score 40.528136554728256
r2 score 0.9842689821187024

In [ ]:
# mse score 41.54799169325837     With datacleaner
# r2 score 0.9840145143753727

# mse score 40.528136554728256   without datacleaner
# r2 score 0.9842689821187024

Report

This dataset has the required data to train a regression model that will do the delivery time estimation, based on all those features

After thoroughly examining the dataset first I did was trying autoclean with datacleaner which helps to fill missing values and encoding objects to numerical values. and I get mse and r2 results. 
Second thing I did was doing datapreprocessing without autocleaner which I did filling missing values with forloop and ecoding with seperating object classes to seperate cat_columns and encoding them them with the help of encoder. 

Lastly I got both of the results side by side to compare but interestingly both results were amazingly close enough to each other which makes datacleaner more of a usefull library to use in later projects.