In [64]:
import pandas as pd
import numpy as np 
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [65]:
#df=pd.read_csv('application_record.csv.zip')

In [66]:
#df.head()

In [67]:
#df.info()

In [68]:
#df.isnull().sum()

In [69]:
#df['OCCUPATION_TYPE'].fillna(df['OCCUPATION_TYPE'].mode()[0], inplace=True)

In [70]:
#df.info()

#encoding

In [71]:
cardinality = df.nunique()

In [72]:
cardinality

id                                                   438510
cnt_children                                             12
amt_income_total                                        866
name_housing_type                                         6
days_birth                                            16379
days_employed                                          9406
flag_work_phone                                           2
flag_phone                                                2
flag_email                                                2
occupation_type                                          18
cnt_fam_members                                          13
code_gender_M                                             2
flag_own_car_Y                                            2
flag_own_realty_Y                                         2
name_income_type_Pensioner                                2
name_income_type_State servant                            2
name_income_type_Student                                  2
name_income_type_Working                                  2
name_education_type_Higher education                      2
name_education_type_Incomplete higher                     2
name_education_type_Lower secondary                       2
name_education_type_Secondary / secondary special         2
name_family_status_Married                                2
name_family_status_Separated                              2
name_family_status_Single / not married                   2
name_family_status_Widow                                  2
dtype: int64

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438557 entries, 0 to 438556
Data columns (total 26 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   id                                                 438557 non-null  float64
 1   cnt_children                                       438557 non-null  int8
 2   amt_income_total                                   438557 non-null  float64
 3   name_housing_type                                  438557 non-null  float64
 4   days_birth                                         438557 non-null  int16
 5   days_employed                                      438557 non-null  float64
 6   flag_work_phone                                    438557 non-null  int8
 7   flag_phone                                         438557 non-null  int8
 8   flag_email                                         438557 non-null  int8
 9   occupation_type                                    438557 non-null  float64
 10  cnt_fam_members                                    438557 non-null  float32
 11  code_gender_M                                      438557 non-null  float64
 12  flag_own_car_Y                                     438557 non-null  float64
 13  flag_own_realty_Y                                  438557 non-null  float64
 14  name_income_type_Pensioner                         438557 non-null  float64
 15  name_income_type_State servant                     438557 non-null  float64
 16  name_income_type_Student                           438557 non-null  float64
 17  name_income_type_Working                           438557 non-null  float64
 18  name_education_type_Higher education               438557 non-null  float64
 19  name_education_type_Incomplete higher              438557 non-null  float64
 20  name_education_type_Lower secondary                438557 non-null  float64
 21  name_education_type_Secondary / secondary special  438557 non-null  float64
 22  name_family_status_Married                         438557 non-null  float64
 23  name_family_status_Separated                       438557 non-null  float64
 24  name_family_status_Single / not married            438557 non-null  float64
 25  name_family_status_Widow                           438557 non-null  float64
dtypes: float32(1), float64(20), int16(1), int8(4)
memory usage: 71.1 MB

In [74]:
num_col=df.select_dtypes(include=['int32','float64']).columns

In [75]:
num_col

Index(['id', 'amt_income_total', 'name_housing_type', 'days_employed',
       'occupation_type', 'code_gender_M', 'flag_own_car_Y',
       'flag_own_realty_Y', 'name_income_type_Pensioner',
       'name_income_type_State servant', 'name_income_type_Student',
       'name_income_type_Working', 'name_education_type_Higher education',
       'name_education_type_Incomplete higher',
       'name_education_type_Lower secondary',
       'name_education_type_Secondary / secondary special',
       'name_family_status_Married', 'name_family_status_Separated',
       'name_family_status_Single / not married', 'name_family_status_Widow'],
      dtype='object')

In [76]:
scaler=StandardScaler()
df[num_col]=scaler.fit_transform(df[num_col])

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438557 entries, 0 to 438556
Data columns (total 26 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   id                                                 438557 non-null  float64
 1   cnt_children                                       438557 non-null  int8
 2   amt_income_total                                   438557 non-null  float64
 3   name_housing_type                                  438557 non-null  float64
 4   days_birth                                         438557 non-null  int16
 5   days_employed                                      438557 non-null  float64
 6   flag_work_phone                                    438557 non-null  int8
 7   flag_phone                                         438557 non-null  int8
 8   flag_email                                         438557 non-null  int8
 9   occupation_type                                    438557 non-null  float64
 10  cnt_fam_members                                    438557 non-null  float32
 11  code_gender_M                                      438557 non-null  float64
 12  flag_own_car_Y                                     438557 non-null  float64
 13  flag_own_realty_Y                                  438557 non-null  float64
 14  name_income_type_Pensioner                         438557 non-null  float64
 15  name_income_type_State servant                     438557 non-null  float64
 16  name_income_type_Student                           438557 non-null  float64
 17  name_income_type_Working                           438557 non-null  float64
 18  name_education_type_Higher education               438557 non-null  float64
 19  name_education_type_Incomplete higher              438557 non-null  float64
 20  name_education_type_Lower secondary                438557 non-null  float64
 21  name_education_type_Secondary / secondary special  438557 non-null  float64
 22  name_family_status_Married                         438557 non-null  float64
 23  name_family_status_Separated                       438557 non-null  float64
 24  name_family_status_Single / not married            438557 non-null  float64
 25  name_family_status_Widow                           438557 non-null  float64
dtypes: float32(1), float64(20), int16(1), int8(4)
memory usage: 71.1 MB

In [78]:
df.head()

,id,cnt_children,amt_income_total,name_housing_type,days_birth,days_employed,flag_work_phone,flag_phone,flag_email,occupation_type,...,name_income_type_Student,name_income_type_Working,name_education_type_Higher education,name_education_type_Incomplete higher,name_education_type_Lower secondary,name_education_type_Secondary / secondary special,name_family_status_Married,name_family_status_Separated,name_family_status_Single / not married,name_family_status_Widow
0,-1.772757,0,2.179879,3.020651,-12005,-0.469170,1,0,0,0.064167,...,-0.006226,0.969343,1.652786,-0.187217,-0.096557,-1.485707,-1.470119,-0.2574,-0.379741,-0.216726
1,-1.772755,0,2.179879,3.020651,-12005,-0.469170,1,0,0,0.064167,...,-0.006226,0.969343,1.652786,-0.187217,-0.096557,-1.485707,-1.470119,-0.2574,-0.379741,-0.216726
2,-1.772753,0,-0.681502,-0.288625,-21474,-0.444611,0,0,0,2.279488,...,-0.006226,0.969343,-0.605039,-0.187217,-0.096557,0.673080,0.680217,-0.2574,-0.379741,-0.216726
3,-1.772750,0,0.749189,-0.288625,-19110,-0.458426,0,1,1,1.725657,...,-0.006226,-1.031627,-0.605039,-0.187217,-0.096557,0.673080,-1.470119,-0.2574,2.633376,-0.216726
4,-1.772748,0,0.749189,-0.288625,-19110,-0.458426,0,1,1,1.725657,...,-0.006226,-1.031627,-0.605039,-0.187217,-0.096557,0.673080,-1.470119,-0.2574,2.633376,-0.216726

In [79]:
x=df.drop(columns=['OCCUPATION_TYPE'])

KeyError: "['OCCUPATION_TYPE'] not found in axis"

In [ ]:
y=df['OCCUPATION_TYPE']

In [ ]:
x_train,x_temp,y_train,y_temp = train_test_split(x,y,test_size=0.2,random_state=42)
x_test,x_val, y_test,y_val=train_test_split(x_temp,y_temp,test_size=0.5,random_state=42)

In [ ]:
model=LinearRegression()
linear_model=model.fit(x_train,y_train)
y_pred=linear_model.predict(x_test)
mse=mean_squared_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)

In [ ]:
mse

0.964255587937301

In [ ]:
r2

0.027144760803375245

In [ ]:
model=DecisionTreeRegressor()
dt_model=model.fit(x_train,y_train)
y_pred=dt_model.predict(x_test)
mse=mean_squared_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)

In [ ]:
mse

0.1676684561879578

In [ ]:
r2

0.830836203501399


with klib

In [ ]:
import klib

In [ ]:
df=pd.read_csv('application_record.csv.zip')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438557 entries, 0 to 438556
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   438557 non-null  int64
 1   CODE_GENDER          438557 non-null  object
 2   FLAG_OWN_CAR         438557 non-null  object
 3   FLAG_OWN_REALTY      438557 non-null  object
 4   CNT_CHILDREN         438557 non-null  int64
 5   AMT_INCOME_TOTAL     438557 non-null  float64
 6   NAME_INCOME_TYPE     438557 non-null  object
 7   NAME_EDUCATION_TYPE  438557 non-null  object
 8   NAME_FAMILY_STATUS   438557 non-null  object
 9   NAME_HOUSING_TYPE    438557 non-null  object
 10  DAYS_BIRTH           438557 non-null  int64
 11  DAYS_EMPLOYED        438557 non-null  int64
 12  FLAG_MOBIL           438557 non-null  int64
 13  FLAG_WORK_PHONE      438557 non-null  int64
 14  FLAG_PHONE           438557 non-null  int64
 15  FLAG_EMAIL           438557 non-null  int64
 16  OCCUPATION_TYPE      304354 non-null  object
 17  CNT_FAM_MEMBERS      438557 non-null  float64
dtypes: float64(2), int64(8), object(8)
memory usage: 60.2+ MB

In [ ]:
df=klib.data_cleaning(df)

Shape of cleaned data: (438557, 17) - Remaining NAs: 134203


Dropped rows: 0
     of which 0 duplicates. (Rows (first 150 shown): [])

Dropped columns: 1
     of which 1 single valued.     Columns: ['flag_mobil']
Dropped missing values: 0
Reduced memory by at least: 46.01 MB (-76.39%)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438557 entries, 0 to 438556
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   438557 non-null  int32
 1   code_gender          438557 non-null  category
 2   flag_own_car         438557 non-null  category
 3   flag_own_realty      438557 non-null  category
 4   cnt_children         438557 non-null  int8
 5   amt_income_total     438557 non-null  float64
 6   name_income_type     438557 non-null  category
 7   name_education_type  438557 non-null  category
 8   name_family_status   438557 non-null  category
 9   name_housing_type    438557 non-null  category
 10  days_birth           438557 non-null  int16
 11  days_employed        438557 non-null  int32
 12  flag_work_phone      438557 non-null  int8
 13  flag_phone           438557 non-null  int8
 14  flag_email           438557 non-null  int8
 15  occupation_type      304354 non-null  category
 16  cnt_fam_members      438557 non-null  float32
dtypes: category(8), float32(1), float64(1), int16(1), int32(2), int8(4)
memory usage: 14.2 MB

In [ ]:
df['occupation_type'].fillna(df['occupation_type'].mode()[0], inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438557 entries, 0 to 438556
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   438557 non-null  int32
 1   code_gender          438557 non-null  category
 2   flag_own_car         438557 non-null  category
 3   flag_own_realty      438557 non-null  category
 4   cnt_children         438557 non-null  int8
 5   amt_income_total     438557 non-null  float64
 6   name_income_type     438557 non-null  category
 7   name_education_type  438557 non-null  category
 8   name_family_status   438557 non-null  category
 9   name_housing_type    438557 non-null  category
 10  days_birth           438557 non-null  int16
 11  days_employed        438557 non-null  int32
 12  flag_work_phone      438557 non-null  int8
 13  flag_phone           438557 non-null  int8
 14  flag_email           438557 non-null  int8
 15  occupation_type      438557 non-null  category
 16  cnt_fam_members      438557 non-null  float32
dtypes: category(8), float32(1), float64(1), int16(1), int32(2), int8(4)
memory usage: 14.2 MB

In [ ]:
cardinality=df.nunique()

In [ ]:
for col in df.columns:
    if df[col].dtype == 'category':
        if cardinality[col] <= 5:
            df = pd.get_dummies(df, columns=[col], dtype=int, drop_first=True)
        else:
            le = LabelEncoder()
            df[col] = le.fit_transform(df[col])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438557 entries, 0 to 438556
Data columns (total 26 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   id                                                 438557 non-null  int32
 1   cnt_children                                       438557 non-null  int8
 2   amt_income_total                                   438557 non-null  float64
 3   name_housing_type                                  438557 non-null  int32
 4   days_birth                                         438557 non-null  int16
 5   days_employed                                      438557 non-null  int32
 6   flag_work_phone                                    438557 non-null  int8
 7   flag_phone                                         438557 non-null  int8
 8   flag_email                                         438557 non-null  int8
 9   occupation_type                                    438557 non-null  int32
 10  cnt_fam_members                                    438557 non-null  float32
 11  code_gender_M                                      438557 non-null  int32
 12  flag_own_car_Y                                     438557 non-null  int32
 13  flag_own_realty_Y                                  438557 non-null  int32
 14  name_income_type_Pensioner                         438557 non-null  int32
 15  name_income_type_State servant                     438557 non-null  int32
 16  name_income_type_Student                           438557 non-null  int32
 17  name_income_type_Working                           438557 non-null  int32
 18  name_education_type_Higher education               438557 non-null  int32
 19  name_education_type_Incomplete higher              438557 non-null  int32
 20  name_education_type_Lower secondary                438557 non-null  int32
 21  name_education_type_Secondary / secondary special  438557 non-null  int32
 22  name_family_status_Married                         438557 non-null  int32
 23  name_family_status_Separated                       438557 non-null  int32
 24  name_family_status_Single / not married            438557 non-null  int32
 25  name_family_status_Widow                           438557 non-null  int32
dtypes: float32(1), float64(1), int16(1), int32(19), int8(4)
memory usage: 39.3 MB

In [ ]:
num_col=df.select_dtypes(include=['int32','float64,int8,int16,float32']).columns

In [ ]:
num_col

Index(['id', 'name_housing_type', 'days_employed', 'occupation_type',
       'code_gender_M', 'flag_own_car_Y', 'flag_own_realty_Y',
       'name_income_type_Pensioner', 'name_income_type_State servant',
       'name_income_type_Student', 'name_income_type_Working',
       'name_education_type_Higher education',
       'name_education_type_Incomplete higher',
       'name_education_type_Lower secondary',
       'name_education_type_Secondary / secondary special',
       'name_family_status_Married', 'name_family_status_Separated',
       'name_family_status_Single / not married', 'name_family_status_Widow'],
      dtype='object')

In [ ]:
scaler = StandardScaler()
df[num_col]=scaler.fit_transform(df[num_col])

In [ ]:
df.head()

,id,cnt_children,amt_income_total,name_housing_type,days_birth,days_employed,flag_work_phone,flag_phone,flag_email,occupation_type,...,name_income_type_Student,name_income_type_Working,name_education_type_Higher education,name_education_type_Incomplete higher,name_education_type_Lower secondary,name_education_type_Secondary / secondary special,name_family_status_Married,name_family_status_Separated,name_family_status_Single / not married,name_family_status_Widow
0,-1.772757,0,427500.0,3.020651,-12005,-0.469170,1,0,0,0.064167,...,-0.006226,0.969343,1.652786,-0.187217,-0.096557,-1.485707,-1.470119,-0.2574,-0.379741,-0.216726
1,-1.772755,0,427500.0,3.020651,-12005,-0.469170,1,0,0,0.064167,...,-0.006226,0.969343,1.652786,-0.187217,-0.096557,-1.485707,-1.470119,-0.2574,-0.379741,-0.216726
2,-1.772753,0,112500.0,-0.288625,-21474,-0.444611,0,0,0,2.279488,...,-0.006226,0.969343,-0.605039,-0.187217,-0.096557,0.673080,0.680217,-0.2574,-0.379741,-0.216726
3,-1.772750,0,270000.0,-0.288625,-19110,-0.458426,0,1,1,1.725657,...,-0.006226,-1.031627,-0.605039,-0.187217,-0.096557,0.673080,-1.470119,-0.2574,2.633376,-0.216726
4,-1.772748,0,270000.0,-0.288625,-19110,-0.458426,0,1,1,1.725657,...,-0.006226,-1.031627,-0.605039,-0.187217,-0.096557,0.673080,-1.470119,-0.2574,2.633376,-0.216726

In [88]:
x=df.drop(columns=['occupation_type'])

In [87]:
y=['occupation_type']

In [89]:
x.shape

(438557, 25)

In [92]:
y_train.shape

NameError: name 'y_train' is not defined

In [85]:
type(y)

list

In [86]:
type(x)

pandas.core.frame.DataFrame

In [ ]:
x_train,x_temp,y_train,y_temp = train_test_split(x,y,test_size=0.2,random_state=42)
x_test,x_val, y_test,y_val=train_test_split(x_temp,y_temp,test_size=0.5,random_state=42)

ValueError: Found input variables with inconsistent numbers of samples: [438557, 1]

In [80]:
x_train,x_temp, y_train,y_temp=train_test_split(x,y,test_size=0.2,random_state=42)
x_test,x_val,y_test,y_val=train_test_split(x_temp,y_temp,test_size=0.5,random_state=42)

ValueError: Found input variables with inconsistent numbers of samples: [438557, 1]